h1{
    color: white;
    background-color:#38b6ff;
    margin: -8px;
    margin-block-end: 10px ;
    font-weight: bold;
}

.table{
    border: 2px solid #737373;
    border-radius: 30px;
}

th, td {
    
    align-items: center;
    margin-top: 50px;
    border-collapse: collapse;
    border-radius: 30px;
    /* height: 20px;
    width: 20px; */
}

th,td {

    height: 31px;
    width: 143px;
    padding: 6px;
     
}
 
#t1{
    margin-top: 15px;
    height: 35px;
    width: 98px;
}


.rest{
    border: 0px;
    border-radius: 16px;
    background-color: rgb;
    color: #000000;
    outline: none;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(58, 157, 238, 0.603);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.rest:hover{
background-color: #38b6ff;
color: white;
}

.submit{
    border: 2px;
    border-radius: 16px;
    border-color: #38b6ff;
    
    color: #000000;
    outline: none;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(58, 157, 238, 0.603);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.submit:hover{
background-color: #38b6ff;
color: white;
}

#t2{
    padding: 6px;
   
}

#t3{

    padding: 7px;
   margin-left: 30px;
}

